table {
    border-collapse: collapse;
}

td {
    border: 1px solid #808385;
    padding: 2px;
}

.form-right {
    margin-left: 10px;
    margin-top: 10px;
    padding: 10px;
    background-color: #f7f7f7;
}

table > tbody > tr > td > input {
    width: 100%;
}

table > tbody > tr > td > select {
    width: 300px;
}
